### VisualStudioCode ###
.vscode/*
.vscode/*.*


### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### ignore test.py 用來做範例，開始的程式
python.code-workspace
test.*
English*.txt
*.pyc
/*.csv
/*.txt
*.png
*.jpg
*.json
*~
~*.tmp
