### VisualStudioCode ###
.vscode/*
.vscode/*.*


### VisualStudioCode Patch ###
# Ignore all local history of files
.history

### ignore test.py 用來做範例，開始的程式
test.py
python.code-workspace
test.*
*.xlsx
*.pyc
*.csv
*.txt
*.png
*.jpg
*.json
*~
*.docx